global
    maxconn 100

defaults
    mode tcp
    retries 2
    timeout connect 5s
    timeout client 30s
    timeout server 30s

listen postgres_write
    bind *:5000
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server bd2 34.45.194.127:5432 check port 8008
    server bd3 34.29.234.240:5432 check port 8008

listen postgres_read
    bind *:5001
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server bd2 34.45.194.127:5432 check port 8008
    server bd3 34.29.234.240:5432 check port 8008
